{
	"absBase64Code":"",
	"appId":"ALIPUB1FFFB15112206",
	"appKey":"ALIPUB1FFFB15112206_ANDROID",
	"base64Code":"",
	"packageName":"cn.kurisu.hutaonote",
	"rootPath":"mpaas/android/ALIPUB1FFFB15112206-default",
	"v6Base64Code":"",
	"workspaceId":"default",
	"syncport":"443",
	"syncserver":"msync.mpaas.cn-hangzhou.aliyuncs.com",
	"pushPort":"443",
	"pushGW":"push.mpaas.cn-hangzhou.aliyuncs.com",
	"rpcGW":"https://mgw.mpaas.cn-hangzhou.aliyuncs.com/mgw.htm",
	"logGW":"https://mdap.mpaas.cn-hangzhou.aliyuncs.com",
	"mpaasapi":"https://mpaasapi.mpaas.cn-hangzhou.aliyuncs.com/mgw.htm",
	"mrtcserver":"wss://mrtc.mpaas.cn-hangzhou.aliyuncs.com/ws",
	"mdc":"https://mdc.mpaas.cn-hangzhou.aliyuncs.com",
	"mpaasConfigVersion":"V_1.0",
	"mpaasConfigEnv":"ONEX_CLOUD",
	"mpaasConfigPluginExpired":"",
	"mpaasConfigLicense":"PmSMrnox5GviXPiyt0jHFcFRzFFu4Fk05ql/036ihPjky9THgfhHFMO5y299+oaZ23OWwJF8GNQXDcTq3XUdwjQzeR+hy2Fztob38aDyJWPcMFaUKRAFB9XRJBazfQedewjZeRrWoO1Hd9aBSVePL/yXkzr2/I3Fc6Acwm1SblrIe2KLyOpNur/B/JFSilD4JXCMQDdiPJOY/l2oayX/i4vMz4nlRsuNjBkaXD64/xek3l9HfpQfmozdB8WBvbFQ4aDQYshpmUxCDZCS36vHMS3j9t1+hz8FAkntPj8a/N+k8m10i/1mV9Fla9T/jVy5et06niiDrkoKiekWLHRRVg=="
}